body {
  display:block;
  align-items: self-start;
  background-image: url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: repeat-x;
}


.appEnterBox {
  width: clamp(100px, 100vw, 3000px); 
  height: 100%;
  
  color:#291001;
  display:flex;
  flex-direction: column;
  align-self: flex-start;
  --bckgrGradLight: linear-gradient(45deg, #d9bda5, #eee7d7);
  --bckgrGradDark: linear-gradient(45deg, #391b01, #d7965d);
  --bckgrGrad03: linear-gradient(45deg, #70432d, #f1b578);
  --bckgrSolidLight: #f6eee3;
  --bckgrSolidDark: #2b1501;
  --scrollbarGradient: linear-gradient(45deg, #6f421b, #d9bda5);
  --boxShadow01: 0 1em 3em rgba(0, 0, 0, 0.2);
  --boxShadow002: 5px 0.5em 0.3em #272626;
  --colorDark: #2b1501;
  --colorLight: #f6eee3;
  --textShadow: 0 0.2em 0.4em #351901f8;
  --borderColor: #f1d5c0 #431c01 #431c01 #f1d5c0;
  --borderColor02: #f9f6f5 #431c01 #793301 #f9f6f5;
  --btnBckgrDark: #331201;
  --borderRadius: 6px 6px 0px 0px;
}

  .headerBox {
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 15px;
    box-shadow: var(--boxShadow01);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    background: var(--bckgrGradDark);
    color: var(--colorLight);
    text-shadow: var(--textShadow);
    box-shadow: var(--boxShadow01);
    margin: 10px;
  }

    .welcomeMessage {
      font-size: clamp(1em, 3vw, 4em);
      padding-left: 10px;
      text-shadow: var(--btnBckgrDark);
    }

    .logoutBox {
      padding-right: 10px;
    }

    .logoutButton {
      background-color: var(--bckgrSolidDark);
      color: var(--colorLight);
      box-shadow: var(--boxShadow002);
      border: 1px solid;
      border-color: var(--borderColor);
    }

      .logoutButton:hover {
        background-color: #f1b578;
        color: var(--colorDark);
        box-shadow: 20px 1em 0.5em #272626;
        transform: scale(1.15, 1.15);
        border: 1px solid;
        border-color: var(--borderColor02);
      }

  .mainContent{
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 15px;
    box-shadow: var(--boxShadow01);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--bckgrGradDark);
    color: var(--colorLight);
    /*text-shadow: var(--textShadow);*/
    box-shadow: var(--boxShadow02);
    margin: 10px;
  }

    .titleBox {
      margin: 5px;
      text-align: center;
    }
    .title {
      color: #391b01;
      font-size: 2em;
      font-weight: bold;
      margin: 0px;      
    }

    .newsTitle {
      color: #efc59f;
      font-size: 2em;
      font-weight: bold;
      margin: 0px;
    }

    .newsBox {
      display: flex;
      flex-direction: column;
      width: 65%;
    }

    .newsItem {
      border: 1px solid;
      border-color: var(--borderColor);
      border-radius: var(--borderRadius);
      box-shadow: var(--boxShadow002);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      background: var(--bckgrGradDark);
      color: var(--colorLight);
      text-shadow: var(--textShadow);
      margin: 10px;
      width:90%;
      height: auto;
      overflow-x:hidden;
      scrollbar-width: none;    
      transition: all 1s;
      padding-left: 20px;
    }

      .article {
        margin: 5px 0px;
        font-size: 1.3em;
      }

    .natJegyzetBox {
      display: flex;
      flex-direction: column;
      width: 30%;
    }

    .natJegyzetek {
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow002);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--bckgrGradDark);
    color: var(--colorLight);
    text-shadow: var(--textShadow);
    
    margin: 10px;
      width:90%;
      height: 40px;

      overflow-x:hidden;
      scrollbar-width: none;
    
    transition: all 1s;
    }

    .natJegyzetek::-webkit-scrollbar {
      display: none; /* Chrome, Edge, Safari */
    }

    .natJegyzetek:hover {
      height:auto;
      padding: 3px;
      
      transition: height 10s;
      background: var(--bckgrGrad03);
      box-shadow: 20px 1em 0.5em #272626;
      transform: scale(1.04, 1.04);
    }

    .newsItem:hover {
      padding-left:25px;
      transition: all 1s;
      background: var(--bckgrGrad03);
      box-shadow: 20px 1em 0.5em #272626;
      transform: scale(1.04, 1.04);
    }

      .mainLabel {
        font-size: clamp(1em, 2vw, 4em);
        font-weight: bold;
        color: #f2d4bf;
        text-shadow: var(--textShadow);
        
      }

      .mainLabel:hover {
        padding-bottom: 0px;
        
      }

      .appLink {
        text-decoration: none;
        font-size: clamp(1em, 2.5vw, 3em);
        color: var(--colorLight);
        text-shadow: var(--textShadow);
        padding-top: 5px;
      }

        .appLink:hover {
          text-decoration: none;
          font-size: clamp(1em, 2.7vw, 3em);
          color: var(--colorLight);
          text-shadow: var(--textShadow);
          background-color: var(--bckgrGradDark);
          border-radius: var(--borderRadius);
          border: solid 1px;
          border-color: var(--borderColor);
          box-shadow: var(--boxShadow002);
          padding: 0px 10px 0px 10px;
        }
