* {
    font-family: 'Noto Sans';    
}

.mainBox {
    display: flex;
    width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}
   
  .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    min-height: 100vh;
      background-image: url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: repeat-x;
  }
  
  .login_box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    backdrop-filter: blur(100px);
    border: 2px solid var(--primary-color);
    border-radius: 0 15px 0 15px;    
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 1px;
  }
  
  .login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
  }
  
  .login-header span {
    font-size: 3em;
    color: var(--black-color);
  }
  
  .login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
  }
  
  .login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color); 
  }
  
  .input_box_email {
    position:relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    justify-content: center;

  }
    .login_input_email {
            position:relative;
            font-size: 1.2em;    
            border-radius: 0 15px 0 15px;
            width: 70%;
            margin: 2px;
            padding: 10px;
            text-align: center;
          }

    .remember-forgot {    
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    align-self: center;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    }

      .remember-me {
          display: flex;
          flex-direction: row;
      }
          .remember_label {
            margin-left: 2px;
            margin-right: 3px;
            transition: 0.2s;
            color: var(--primary-color);
          }

        .login_a {
        text-decoration: none;
        color: var(--primary-color);
        margin-left: 3px;
      } 

  .input_box_loginButtons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
     .login_button {
    font-size: 1.2em;
    width: 45%;
    border-radius: 0 15px 0 15px;
    border: var(--second-color) solid 1px;
    margin: 5px;
  }

     

/* =============================================== HOVER ACTIONS   */
/*  */

.login_a:hover {
  text-decoration: none;
  color: var(--second-color);
}

.login_label:hover {
  color: var(--second-color);
}

/* ===============================================  SCROLLBAR   */
/*  */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #282929;
  border-radius: 5px;
  border: 1px solid #999b9e;
}

::-webkit-scrollbar-track {
  background-color: #282929;
}

/* =============================================== RESPONSIVITY SETTINGS   */
/*  */
    @media (max-width: 2000px) {
      .mainBox {
        width:2000px;
        height: auto;
      }
  }

    @media (max-width: 1900px) {
      .mainBox {
        width:1900px;
        height: auto;
      }
  }

    @media (max-width: 1800px) {
      .mainBox {
        width:1800px;
        height: auto;
      }
  }

    @media (max-width: 1700px) {
      .mainBox {
        width:1700px;
        height: auto;
      }
  }

    @media (max-width: 1600px) {
      .mainBox {
        width:1600px;
        height: auto;
      }
  }

    @media (max-width: 1500px) {
      .mainBox {
        width:1500px;
        height: auto;
      }
  }

    @media (max-width: 1400px) {
      .mainBox {
        width:1400px;
        height: auto;
      }
  }

    @media (max-width: 1300px) {
      .mainBox {
        width:1300px;
        height: auto;
      }
  }

    @media (max-width: 1200px) {
      .mainBox {
        width:1200px;
        height: auto;
      }
  }

    @media (max-width: 1100px) {
      .mainBox {
        width:1100px;
        height: auto;
      }
  }

    @media (max-width: 1000px) {
      .mainBox {
        width:1000px;
        height: auto;
      }
  }

  @media (max-width: 900px) {
      .mainBox {
        width:900px;
        height: auto;
      }
  }

  @media (max-width: 800px) {
    .mainBox {
        width:800px;
        height: auto;
      }
  }

  @media (max-width: 700px) {
    .mainBox {
        width:700px;
        height: auto;
      }
  }

    @media (max-width: 600px) {
      .mainBox {
        width:600px;
        height: auto;
      }
  }

    @media (max-width: 500px) {
      .mainBox {
        width:500px;
        height: auto;
      }
  }

    @media (max-width: 400px) {
      .mainBox {
        width:400px;
        height: auto;
      }
  }

    @media (max-width: 300px) {
      .mainBox {
        width:300px;
        height: auto;
      }
  }