body {
	font-family: 'Noto Sans'; 
  	font-size: 12px;
	color: #1c1d1d;
    background-image: url("/media/Im_learning.png");
    background-repeat:repeat;
    background-size: 100% 100% 100% 100%;
}

a {
    font-family: 'Noto Sans'; 
    font-size: 12px;
    color: #1c1d1d;
}

a.clip {  /* Text mask */
    font-size: 150px;
    font-weight:1000;
    background: url("/media/galaxy_stock_bckgr.jpg") 0 0 / cover no-repeat;
    color: #de466c;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

    #logo {
      margin-right: 100px;
      margin-left: -5px;
      margin-top: -60px;
      margin-bottom: 200px;
      width: 60px;
      height: 60px;
      position:fixed;
    }
    
  /* Main content */
  .main {
    flex-grow: 1;
    padding: 10px;
    max-width: 80%;
    margin-left: 10px;
    margin-top: 60px;
    
  }

/* Görgetősáv */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #282929;
  border-radius: 5px;
  border: 1px solid #999b9e;
}

::-webkit-scrollbar-track {
  background-color: #282929;
}

/* Responzivitási beállítások */
  @media (max-width: 800px) {
      }