/* 
Not finished yet
*/

body, p, a, pre {
	background-color: #1c1d1d;
	font-family: 'Noto Sans'; 
  	font-size: 12px;
	color: #d2d4d6;
}

  /* Main content */
  .main {
    flex-grow: 1;
    padding: 10px;
    max-width: 80%;
    margin-left: 200px;
  }

h1 {
    position:sticky;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

                      /* tooltip end */


/* Görgetősáv */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #282929;
  border-radius: 5px;
  border: 1px solid #999b9e;
}

::-webkit-scrollbar-track {
  background-color: #282929;
}

/* Responzivitási beállítások */
  @media (max-width: 800px) {
    

    .main {
      margin-left: 100px;
    }
  }

/* News item styling */
#blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.news-item {
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, z-index 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.news-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.news-item p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    opacity: 0.8;
}

.news-item:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}