/* 
Not finished yet
*/

body, p, a, pre {
	background-color: #1c1d1d;
	font-family: 'Noto Sans'; 
  	font-size: 12px;
	color: #d2d4d6;
}

  /* Main content */
  .main {
    flex-grow: 1;
    padding: 10px;
    max-width: 80%;
    margin-left: 200px;
  }

h1 {
    position:sticky;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

#blog {
    background-color: #c0c2d0;
    border-color: 1px #ec561f;
    border-radius: 20%;
}

.item h2, h3  {
    color:#282929;

}


/* Görgetősáv */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #282929;
  border-radius: 5px;
  border: 1px solid #999b9e;
}

::-webkit-scrollbar-track {
  background-color: #282929;
}

/* Responzivitási beállítások */
  @media (max-width: 800px) {
    

    .main {
      margin-left: 100px;
    }
  }
