/* 
Not finished yet
*/

body, p, a, pre {
	background-color: #1c1d1d;
	font-family: 'Noto Sans'; 
  	font-size: 12px;
	color: #d2d4d6;
}

  /* Main content */
  .main {
    flex-grow: 1;
    padding: 10px;
    max-width: 80%;
    margin-left: 200px;
  }

h1 {
    position:sticky;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

/* Tooltip for full text on hover */
.news-item p {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* Expand the area to show full text on hover */
.news-item p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.news-item:hover p {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    max-height: none;
}

.news-item p:hover::after {
    content: attr(data-full-text);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: normal;
    z-index: 1000;
    width: max-content;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Görgetősáv */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #282929;
  border-radius: 5px;
  border: 1px solid #999b9e;
}

::-webkit-scrollbar-track {
  background-color: #282929;
}

/* Responzivitási beállítások */
  @media (max-width: 800px) {
    

    .main {
      margin-left: 100px;
    }
  }

/* News item styling */
#blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.news-item {
    background: linear-gradient(135deg, #031064, #12b5f1);
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, z-index 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.news-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.news-item p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    opacity: 0.8;
}

.news-item:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}