body {
    font-family: 'Noto Sans';
    text-align: center;
    background-image: url("../../../media/banboo-5002308_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1c1d1d;
    color:#d2d4d6;
    margin: 0;
    padding: 0;
}

#abacus-container {
    background-color: #272929;
    color:#d2d4d6;
    padding: 0px;
    margin: auto;
    width: 500;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

canvas {
    display: flex;
    margin:auto;
    background-color: #272929;
    color:#d2d4d6;
}

#abacus-value {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color:#d2d4d6;
}

#settings, #questions {
    background-color: #272929;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label, select, input {
    display: inline-block;
    margin: 0px auto;
    font-size: 16px;
}

button {
    background-color: #058f1c;
    color: #2be62b;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #2be62b;
    color: #058f1c
}

.correct-answer {
    background-color: #016011 !important;
    color: #2be62b !important;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}

#settings {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #272929;
    border-radius: 5px;
}

.left-column {
    flex: 1;
    min-width: 300px;
    padding-right: 10px;
}

.right-column {
    flex: 1;
    min-width: 300px;
}

.feedback {
    font-size:small;
    text-decoration: none;
    color: #e2f606;
    font-family: 'Noto Sans';
    text-align: right;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left-column, .right-column {
        width: 100%;
        padding-right: 0;
    }
}