/* 
Not finished yet
*/

body {
    background-color: #1c1d1d;
    font-family: 'Noto Sans';
    font-size: 12px;
    color: #d2d4d6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.main {
    width: 80%;
    max-width: 1200px;
    background-color: #272929;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(12, 3, 60);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #1c1d1d;
    color: #d2d4d6;
}

#resultTable th, #resultTable td {
    border: 1px solid #999b9e;
    padding: 8px;
    text-align: left;
}

#resultTable th {
    background-color: #232424;
}

#resultTable td {
    white-space: nowrap;
}

td:hover {
    background-color: #999b9e;
    color: #1c1d1d;
}

/* Görgetősáv */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #282929;
  border-radius: 5px;
  border: 1px solid #999b9e;
}

::-webkit-scrollbar-track {
  background-color: #282929;
}

/* Responzivitási beállítások */
  @media (max-width: 800px) {
    .top-nav {
        flex-direction:column; /* Egymás alá rendezés */
        height: 100px; /* Magasság automatikusan igazodik */
        align-items:start;
        padding: 10px;
        width: 80%;
    }   
    
    .wrap {
      position: relative;
      width: 80%;
      height: 50%;
      left: 80px;
      right: 100px;
      
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
      flex-direction: row;
    
      gap: 2px;
    
    }

    .card {
      height: 20px;
    
    }

    .front {
      font-size: 8px;
    }

    .back {
      font-size: 8px;
    }

    .side-nav {
      width: 100px;
    }

    .main {
      margin-left: 100px;
    }
  }