<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <title>Porfolio</title>
    <link rel="icon" type="image/png" href="./media/favicon_light.png"> <!-- NE NYÚLJ HOZZÁ, MŰKÖDIK -->

    <link rel="stylesheet" href="../templates/blur_cards.css"> <!-- NE NYÚLJ HOZZÁ, MŰKÖDIK  -->
</head>
</head>
<body>
    <div class="wrapper">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>

    <!-- FEEDBACK -->
    <div class="feedback">
        <a href="mailto:felisha19761228@gmail.com?
            &subject=Feedback: Porfolio page" target="_top" class="feedback">
            
		<hr>
			Felisha76 &copy; <br>Feedback<hr>v.1.1</a>
	</div>
    
</body>
</html>