body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
img { max-width: 100%; }
.image
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0.5em;
text-align:center;
font-weight:normal;
font-style:normal;
margin-left:2.5em;
line-height:1.3em;
}
.imagel
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.imager
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.title
{
font-family:sans-serif;
font-size:1.3em;
margin-top:7em;
margin-bottom:0em;
text-align:center;
font-weight:bold;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.title1
{
font-family:sans-serif;
font-size:3em;
margin-top:3em;
margin-bottom:0em;
text-align:center;
font-weight:bold;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.title2
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.7em;
margin-bottom:0em;
text-align:center;
font-style:normal;
line-height:1.3em;
}
.title3
{
font-family:sans-serif;
font-size:1.1em;
margin-top:20em;
margin-bottom:0em;
text-align:center;
font-style:normal;
line-height:1.3em;
}
.title4
{
font-family:sans-serif;
font-size:1.1em;
margin-top:0em;
margin-bottom:0.5em;
text-align:center;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
.blue
{
color:#0000ff;
}

.copyt
{
font-family:serif;
font-size:0.8em;
margin-top:1em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copytt
{
font-family:serif;
font-size:0.8em;
margin-top:12em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copyt1
{
font-family:serif;
font-size:0.8em;
margin-top:3em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copy
{
font-family:serif;
font-size:0.8em;
margin-top:0.3em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copy_mrgn
{
font-family:serif;
font-size:0.8em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.pttitle
{
font-family:sans-serif;
font-size:3em;
margin-top:1em;
margin-bottom:1em;
margin-left:0.3em;
margin-right:0em;
text-align:left;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.pttitle1
{
font-family:sans-serif;
font-size:3em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:left;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.chtitle
{
font-family:sans-serif;
font-size:2em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0.7em;
margin-right:0em;
text-align:left;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.chtitle1
{
font-family:sans-serif;
font-size:2em;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-align:left;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.sectitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
text-align:left;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.sectitle1
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:left;
font-style:normal;
line-height:1.3em;
color:#0000ff;
}
.mrgn
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn0
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn0t
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn0p
{
font-family:sans-serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn0tp
{
font-family:sans-serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn0p_indent
{
font-family:sans-serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:1em;
line-height:1.3em; 
}
.mrgn0tp_indent
{
font-family:sans-serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:1em;
line-height:1.3em; 
}
.mrgn1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn1t
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn1p
{
font-family:sans-serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn1tp
{
font-family:sans-serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn1b
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:1.5em;
margin-left:1.2em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgnt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgntp
{
font-family:sans-serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgnp
{
font-family:sans-serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn2tp
{
font-family:sans-serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:7em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.mrgn3p
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:12em;
margin-right:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.lmrgn
{
float:left;
margin-left:-1.2em;
}
.lmrgn0
{
float:left;
margin-left:-2.3em;
}
.lmrgn2
{
float:left;
margin-left:-4.5em;
}
.lmrgn_line
{
margin-left:-1em;
}
.line
{
border-bottom: solid 1px #000000;
width: 91%;
margin-top: 1.5em;
margin-bottom: 0.5em;
margin-left: 2.7em;
}
.line0
{
border-bottom: solid 1px #000000;
width: 95%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 1em;
}
.line1
{
font-family:sans-serif;
font-size:0.9em;
border-bottom: solid 1px #000000;
width: 89%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 4em;
line-height:0.8em;
}
.lmrgn_line2
{
margin-left:-12em;
}
.line2
{
font-family:sans-serif;
font-size:0.9em;
border-bottom: solid 1px #000000;
width: 65%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 14.5em;
line-height:0.8em;
}
.lmrgn_line3
{
margin-left:-14em;
}
.line3
{
font-family:sans-serif;
font-size:0.9em;
border-bottom: solid 1px #000000;
width: 60%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 16.5em;
line-height:0.8em;
}
.lmrgn_line4
{
margin-left:-24em;
}
.line4
{
font-family:sans-serif;
font-size:0.9em;
border-bottom: solid 1px #000000;
width: 35%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 26.5em;
line-height:0.8em;
}
.lmrgn_line5
{
margin-left:-23.5em;
}
.line5
{
font-family:sans-serif;
font-size:0.9em;
border-bottom: solid 1px #000000;
width: 35%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 26em;
line-height:0.8em;
}
.lmrgn_line6
{
margin-left:-25em;
}
.line6
{
font-family:sans-serif;
font-size:0.9em;
border-bottom: solid 1px #000000;
width: 32%;
margin-top: 1em;
margin-bottom: 0.5em;
margin-left: 27.5em;
line-height:0.8em;
}
.indent
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
text-indent:1.5em;
line-height:1.3em;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.right0
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0.5em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.right
{
font-family:serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tt
{
font-family:serif;
font-size:1.2em;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
text-indent:1em;
line-height:2em;
}
#box
{
border: 0px solid;
width:85%;
margin-top:0.5em;
margin-left:auto;
margin-right:auto;
padding: 10px;
box-shadow: 5px 10px 18px #888888;
}
.centerv
{
font-family:serif;
font-size:0.8em;
margin:auto;
text-align:center;
color:#ffffff;
font-weight:normal;
font-style:normal;
border-radius: 25px;
background: #39e75f;
padding: 5px 0; 
width: 92%;
}
.centerb
{
font-family:serif;
font-size:0.9em;
width:92%;
margin-top:1em;
margin-bottom:0em;
margin-left:auto;
margin-right:auto;
text-align:justify;
font-weight:normal;
font-style:normal;
text-indent:1.5em;
line-height:1.3em;
}
.centerb1
{
font-family:serif;
font-size:0.9em;
width:92%;
margin-bottom:1.5em;
margin-top:0em;
margin-left:auto;
margin-right:auto;
text-align:justify;
font-weight:normal;
font-style:normal;
text-indent:1.5em;
line-height:1.3em;
}
.magenta
{
font-family:serif;
font-size:1.1em;
width:92%;
margin-bottom:1em;
margin-top:1.5em;
margin-left:auto;
margin-right:auto;
text-align:justify;
font-weight:bold;
font-style:normal;
color:#a1045a
}
.blue
{
font-family:sans-serif;
font-size:0.8em;
width:92%;
margin-bottom:1em;
margin-top:1.5em;
margin-left:auto;
margin-right:auto;
text-align:justify;
font-weight:bold;
font-style:normal;
color:#0000ff
}
.centerb2
{
font-family:serif;
font-size:0.9em;
width:92%;
margin-bottom:1em;
margin-top:0em;
margin-left:auto;
margin-right:auto;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.centerb3
{
font-family:serif;
font-size:0.8em;
width:92%;
margin-bottom:1em;
margin-top:0em;
margin-left:auto;
margin-right:auto;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
table, tr, td
{
border:solid;
border-collapse: collapse;
border-color:#0000ff;
}
table
{
width:92%;
margin-top:1.5em;
margin-left:2.5em;
}
table.short
{
width:50%;
margin-top:1.5em;
margin-left:2.5em;
margin-left:auto;
margin-right:auto;
text-align:center;
}
table.short1
{
width:45%;
margin-top:1.5em;
margin-left:2.5em;
text-align:left;
}
table.short2
{
width:60%;
margin-top:1.5em;
margin-left:2.5em;
text-align:center;
}
.c
{
text-align:center;
}
.lblue
{
background-color:#d6ebf2;
}
.height
{
background-color:#e8e9eb;
font-weight:bold;
text-align:center;
}
.heightl
{
background-color:#e8e9eb;
font-weight:bold;
text-align:left;
}
.heightl1
{
background-color:#e8e9eb;
font-weight:normal;
text-align:left;
}
.center
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
text-align:center;
font-weight:normal;
font-style:normal;
line-height:1.3em; 
}
.bluew
{
font-family:sans-serif;
font-size:0.9em;
text-align:center;
font-weight:bold;
font-style:normal;
border-radius: 25px;
background: #add8e6;
padding: 5px 0; 
width: 30%;
}